#sidebar {
  width: 5vw;
  height: 100vh;
  position: fixed;
  box-shadow: 0px 0px 7px gray;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

#sidebar img {
  position: relative;
  /* transform: translateX(50%); */
  margin-top: 20px;
  cursor: pointer;
}
